{% extends 'flowerstalk/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}

{% block title %}
Upload Proof of Payment
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

{% block content %}
<div class="page-container">
    <h1>Payment Details</h1>
    <div class="payment-details-wrap">
        <p><b>Payment Details</b></p>
        <hr>
        <p><b>Amount to pay: </b> <span class="grandTotal">&#8358;{{order_price}}</span></p>
        <hr>
        <p><b>Account Name: </b> Flowerstalk Nigeria Limited</p>
        <hr>
        <p><b>Account Number: </b> 0111514936</p>
        <hr>
        <p><b>Bank: </b>GT Bank</p>
        <hr>
        <p><b>Order ID: </b> {{order_id}}</p>
    </div>
</div>
<div class="payment-proof-container">
    <h3>Already made payment?</h3>
    <h1 class="page-title">Upload payment proof</h1>
    <div class="wrap payment-proof">
        <!-- <input type="file" name="upload-image" id="upload-input"> -->
        <div class="drop-zone flex center">
            <form class="payment-upload-form" method="post" enctype="multipart/form-data" action="{% url 'orders:payment_proof' %}">
                <p class="drop-zone-text">Drop file here or click to upload</p>
                <!-- <div class="drop-zone-img" data-label = 'file.jpg'></div> -->
                <input type="file" name="image" class="dropzone-input">
                <input type="date" name="payment_date" class="dropzone-input">
                <input type="text" placeholder="Amount Paid" name="amount_paid" class="dropzone-input">
                <input name="orderItem" type="text" class="dropzone-input">
                {% csrf_token %}
            </form>
        </div>
        <div class="proof-details">
            <p class="drop-zone-text">Enter date of payment</p>
            <input type="date" name="payment_date">
            <input type="text" placeholder="Amount Paid" name="amount_paid">
            <input name="orderItem" type="text" placeholder="Order ID (e.g. FLWSTK00001)" value="{{order_id}}" disabled>
            <button onclick="fillUploadForm()">Upload</button>
        </div>
    </div>
</div>
<div class="payment-page-modal modal" {% if not success %} style="display: none;"{% endif %}>
    <div class="modal-container">
        <div class="modal-content">
            <i class="far fa-shield"></i>
            <p>Document uploaded!</p>
            <p>Once we confirm payment, we will notify you and dispatch your package.</p>
            <button onclick="goToHomePage()">Continue to Homepage</button>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'js/drag-and-drop.js' %}"></script>
{% endblock %}

