{% extends 'flowerstalk/base.html' %}
{% load static %}

{% block title %}
About Us
{% endblock %}

{% block content %}
<div class="about-us-container">
    <h1 class="page-title">About Flowerstalk</h1>
    <p>FlowerStalk has been the go-to place for every important and memorable event, with gorgeous blooms, lush flowers & gifts sets available for your dazzle.</p>
    <p>We take off the stress of deciding what beautiful package options to go for, and give you the best  floral gifting with top-notch taste, charming designs, freshness guarantee for those who know what they want, and delightfully approachable blooms for those who don't.</p>
    <p>FlowerStalk was established in the year 20XX and is gradually becoming the #1 stop shop for gorgeous blooms, and how people shop for flowers.</p>
</div>
{% endblock %}